.objeto{
    width: 500px;
}
/* TABLET */
@media (min-width:721px) and (max-width:1199px){
    .objeto{
        width: 400px;
    }
}
/* MOVIL */
@media (max-width:720px){
    .objeto{
        width: 100%;
    }
}